# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
**/.venv/

# Jupyter
.ipynb_checkpoints/

# Mac/Linux/Windows junk
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Sensitive config
pos_xref/extract/file_reader.py

# TODO List for dev
pos_xref/TODO.md